# vim
*.swp
*.un~

# Compiled
vitae_debug
vitae_release
vitae_profile
bin
*.o
*.so
*.a
android/obj
android/assets
android/libs
android/xxx.map
android/gen
*.d
SpaceSim/lua/compiled/
SpaceSim/lua/compiled/*
SpaceSim/lua/compiled/*.lua
SpaceSim/moon/*.lua

# external dependencies
dep
dependencies

# profile output
android_profile_results
profile_results
android_gmon.out
gmon.out
memlog
prof*

#android local properties
android/gen/R.java.d
android/local.properties

#log
log.txt

#ctags
vitae.tags
